@charset "UTF-8";

#iuTbl {
	font-family: "b";
	border: 4px solid rgba(0, 255, 255, 1);
	border-radius: 20px;
	box-shadow: #b9ffff 1px 1px 25px;
	background-color: #00000060;
	width: 600px;
	height: 800px;
	transition: all 0.05s ease-in-out;
}

#iuTitle {
	font-size: 40pt;
	color: #00FFFF;
	text-align: center;
	text-shadow: #b9ffff 0px 0px 40px, #b9ffff 0px 0px 20px, #b9ffff 1px 1px 5px;
	transition: all 0.05s ease-in-out;
}

.iuIndex {
	width: 120px;
	padding-right: 20px;
	font-family: "b";
	font-size: 22pt;
	font-weight: 900;
	color: white;
	text-align: right;
	text-shadow: #820062 1px 1px 5px;
}

.iuInput input {
	font-family: "b";
	border: none;
	border-radius: 15px;
	background-color: #ffec4080;
	width: 200px;
	height: 30px;
	font-size: 14pt;
	color: white;
	padding-left: 10px;
}

.iuInput input:focus {
	background-color: #ffec4040;
}

.iuInput input::placeholder {
	color: #FFFFFF90;
}

#iuIdChk {
	font-family: "b";
	font-size: 15pt;
	color: white;
	text-shadow: #ff4040 1px 1px 5px;
	opacity: 0;
}

#iuNicknameChk {
	font-family: "b";
	font-size: 15pt;
	color: white;
	text-shadow: #ff4040 1px 1px 5px;
	opacity: 0;
}

#photoNotice {
	font-family: "b";
	font-size: 13pt;
	color: white;
	text-shadow: #ff4040 1px 1px 5px;
}

.iuInputPW input {
	font-family: "a";
	border: none;
	border-radius: 15px;
	background-color: #ffec4080;
	width: 200px;
	height: 30px;
	font-size: 13pt;
	color: white;
	padding-left: 10px;
}

.iuInputPW input::placeholder {
	color: #FFFFFF90;
	font-family: "b";
	font-size: 13pt;
}

.iuInputPW input:focus {
	background-color: #ffec4040;
}

.iuBirth {
	font-size: 15pt;
	color: white;
	text-shadow: #820062 1px 1px 5px;
}

.iuBirth input {
	font-family: "a";
	border: none;
	border-radius: 15px;
	background-color: #ffec4080;
	width: 75px;
	height: 30px;
	font-size: 13pt;
	font-weight: 900;
	color: white;
	padding-left: 10px;
}

.iuBirth input::placeholder {
	color: #FFFFFF90;
	font-family: "b";
	font-size: 13pt;
	font-weight: 500;
}

.iuBirth input:focus {
	background-color: #ffec4040;
}

#iuInputAddr input {
	font-family: "b";
	border: none;
	border-radius: 15px;
	background-color: #ffec4080;
	width: 350px;
	height: 30px;
	font-size: 14pt;
	color: white;
	padding-left: 10px;
}

#iuInputAddr input::placeholder {
	color: #FFFFFF90;
}

#iuInputAddr input:focus {
	background-color: #ffec4040;
}

#iuPhoto {
	font-family: "b";
	font-size: 12pt;
	color: white;
}

#iuPhoto::file-selector-button {
	border: none;
	border-radius: 20px;
	font-family: "b";
	font-size: 13pt;
	color: white;
	background-color: #82006250
}

#iuPhoto::file-selector-button:hover {
	cursor: pointer;
	font-weight: 900;
	background-color: #82006280
}

#iuBtn button {
	border: none;
	border-radius: 30px;
	background-color: #82006250;
	height: 40px;
	width: 100px;
	font-family: "b";
	font-size: 18pt;
	font-weight: 500;
	color: white;
}

#iuBtn button:hover {
	background-color: #82006280;
	font-weight: 900;
}