@charset "UTF-8";

#infoTbl {
	border: 4px solid rgba(0, 255, 255, 1);
	border-radius: 20px;
	box-shadow: #b9ffff 1px 1px 25px;
	background-color: #00000060;
	width: 600px;
	height: 800px;
	transition: all 0.05s ease-in-out;
}

#infoTitle {
	font-size: 40pt;
	font-family: "b";
	color: #00FFFF;
	text-align: center;
	text-shadow: #b9ffff 0px 0px 40px, #b9ffff 0px 0px 20px, #b9ffff 1px 1px 5px;
	transition: all 0.05s ease-in-out;
}

.infoIndex {
	width: 120px;
	padding-right: 20px;
	font-family: "b";
	font-size: 22pt;
	font-weight: 900;
	color: white;
	text-align: right;
	text-shadow: #820062 1px 1px 5px;
}

.infoInput input {
	font-family: "b";
	border: none;
	border-radius: 15px;
	background-color: #ffec4080;
	width: 200px;
	height: 30px;
	font-size: 14pt;
	color: white;
	padding-left: 10px;
}

.infoInputPW input {
	font-family: "a";
	border: none;
	border-radius: 15px;
	background-color: #ffec4080;
	width: 200px;
	height: 30px;
	font-size: 17pt;
	color: white;
	padding-left: 10px;
}

#seePW {
	font-family: "b";
	font-size: 17pt;
	border: none;
	border-radius: 50px;
	background-color: #82006250;
	color: white;
	cursor: pointer;
}

#seePW:hover {
	background-color: #82006280;
	font-weight: 900;
}


.infoBirth {
	font-size: 15pt;
	font-family: "b";
	color: white;
	text-shadow: #820062 1px 1px 5px;
	
}

.infoBirth input {
	font-family: "a";
	border: none;
	border-radius: 15px;
	background-color: #ffec4080;
	width: 75px;
	height: 30px;
	font-size: 13pt;
	font-weight: 900;
	color: white;
	padding-left: 10px;
}

#infoInputAddr input {
	font-family: "b";
	border: none;
	border-radius: 15px;
	background-color: #ffec4080;
	width: 350px;
	height: 30px;
	font-size: 14pt;
	color: white;
	padding-left: 10px;
}


#infoPhoto {
	max-width: 130px;
	max-height: 130px;
}

#infoBtn button {
	border: none;
	border-radius: 30px;
	background-color: #82006250;
	height: 40px;
	width: 100px;
	font-family: "b";
	font-size: 18pt;
	font-weight: 500;
	color: white;
}

#infoBtn button:hover {
	background-color: #82006280;
	font-weight: 900;
}

