@charset "UTF-8";

.star {
	display: none;
}

#star1{ 
	position: absolute;
}

#star2{ 
	position: absolute;
}

#star3{ 
	position: absolute;
}

#star4{ 
	position: absolute;
}

#star5{ 
	position: absolute;
}

#star6{ 
	position: absolute;
}

#star7{ 
	position: absolute;
}

#star8{ 
	position: absolute;
}

#star9{ 
	position: absolute;
}

#star10{ 
	position: absolute;
}

#star11{ 
	position: absolute;
}

#star12{ 
	position: absolute;
}

#star13{ 
	position: absolute;
}

#star14{ 
	position: absolute;
}

#star15{ 
	position: absolute;
}

#star16{ 
	position: absolute;
}

#star17{ 
	position: absolute;
}

#star18{ 
	position: absolute;
}

#star19{ 
	position: absolute;
}

#star20{ 
	position: absolute;
}

#star21{ 
	position: absolute;
}

#star22{ 
	position: absolute;
}

#star23{ 
	position: absolute;
}

#star24{ 
	position: absolute;
}

#star25{ 
	position: absolute;
}

#star26{ 
	position: absolute;
}

#star27{ 
	position: absolute;
}

#star28{ 
	position: absolute;
}

#star29{ 
	position: absolute;
}

#star30{ 
	position: absolute;
}

