@charset "UTF-8";

.bullet {
	display: none;
	width: 20px;
	z-index: 14;
}

.bulletE {
	display: none;
	width: 30px;
	z-index: 14;
}

#bullet1 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bullet2 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bullet3 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bullet4 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bullet5 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bullet6 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bullet7 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bullet8 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bullet9 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bullet10 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bullet11 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bullet12 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bulletE1 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bulletE2 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bulletE3 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bulletE4 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bulletE5 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bulletE6 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bulletE7 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bulletE8 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bulletE9 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bulletE10 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bulletE11 {
	position: absolute;
	transform: translate(-50%, -50%);
}

#bulletE12 {
	position: absolute;
	transform: translate(-50%, -50%);
}




